a {
  color: inherit;
  text-decoration: none;
}

textarea {
  color: inherit;
  text-decoration: none;
  font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';
  font-style: normal;
  padding: 8px;
  resize: vertical;
  max-width: 100%;
}

.header {
  display: flex;
  flex: row;
  justify-content: space-between;
  font-size: xx-large;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  padding: 8px 16px;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input {
  margin-top: 4px;
  padding: 8px;
  height: auto;
}